* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', helvetica, sans-serif;

}

.wrapper {
    display: grid;
    background-image: url(../img/dark_stripes.png);
}


.welcome {
    height: 10vh;
    width: 100%;
    padding: 20px 40px;
    background-color: white;
}

.welcome>h1 {
    color: #0088a9;
}

span {
    color: #0088a9;
    font-size: 1.5em;
}


.navBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    padding: 20px;
}

.navLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 30px;
    list-style: none;
}


.navBar li a {
    color: white;
    font-size: 1em;
    padding-top: 10px;
    padding-right: 20px;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;

}

.navBar li a:hover {
    color: #0088a9;
    padding-top: 20px;
}

button {
    padding: 10px 25px;
    margin-left: 50px;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}

.aboutMe {
    position: relative;
    height: 90vh;
    background: url(/img/apple-1854101_1920.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.aboutMe>h1 {
    position: absolute;
    background: #333;
    color: #fff;
    font-size: 34px;
    width: 400px;
    height: 10%;
    top: 50px;
    right: 10%;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    opacity: 0.7;
    text-transform: uppercase;
}

.aboutMe>p {
    position: absolute;
    width: 400px;
    height: 10%;
    top: 150px;
    right: 10%;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    opacity: 0.7;
}


.skills {
    height: 80vh;
    text-align: center;
    /* margin: 25px auto 0; */
    padding-top: 5%;
}

.skills h1 {
    color: white;
    text-transform: uppercase;
    font-size: 34px;
    padding-bottom: 5%;

}

.skills h2 {
    color: white;
    justify-content: center;
    font-size: 22px;

}

.skills p {
    color: white;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
}


.allFeature {
    display: flex;
    border-radius: 40px;


}

.feature img {
    width: 100%;
    height: 300px;

    /* padding: 10px 20px; */
    /* border-radius: 40px; */
}

.feature {
    color: white;
    justify-content: center;

}

.feature h2 {
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}