* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', helvetica, sans-serif;

}

.wrapper {
    display: grid;
    background-image: url(../img/dark_stripes.png);
}

/* sekcja welcome/ */
.welcome {
    height: 10vh;
    width: 100%;
    padding: 20px 40px;
    background-color: white;
}

.welcome>h1 {
    color: #0088a9;
}

span {
    color: #0088a9;
    font-size: 1.5em;
}

/* sekcja navigacja */
.navBar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    padding: 20px;
}

.navLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 30px;
    list-style: none;
}


.navBar li a {
    color: white;
    font-size: 1em;
    padding-top: 10px;
    padding-right: 20px;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;

}

.navBar li a:hover {
    color: #0088a9;
    padding-top: 20px;
}

button {
    padding: 10px 25px;
    margin-left: 50px;
    font-size: 1em;
    color: white;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}

/* sekcja o mnie  */
.aboutMe {
    position: relative;
    height: 90vh;
    background: url(/img/apple-1854101_1920.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.aboutMe>h1 {
    position: absolute;
    background: #333;
    color: #fff;
    font-size: 34px;
    width: 400px;
    height: 10%;
    top: 50px;
    right: 10%;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    opacity: 0.7;
    text-transform: uppercase;
}

.aboutMe>p {
    position: absolute;
    width: 400px;
    height: 10%;
    top: 150px;
    right: 10%;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    opacity: 0.7;
}

/* sekcja umiejętności */
.skills {
    height: 80vh;
    text-align: center;
    background-color: white;
    /* margin: 25px auto 0; */
    padding-top: 5%;
}

.skills h1 {
    color: black;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 5%;

}

.skills h2 {
    color: black;
    justify-content: center;
    font-size: 22px;

}

.skills p {
    color: black;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
}


.allFeature {
    display: flex;
    border-radius: 40px;


}

.feature img {
    width: 100%;
    height: 300px;

}

.feature {
    color: white;
    justify-content: center;

}

.feature h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .portfolio {
    

} */

.portfolio>h1 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}


.web1 {
    display: flex;
    width: 100%;
    height: 400px;

}

.web1 img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-grow: 1;
}

.about-a {
    height: 400px;
    float: right;
    flex-grow: 1;
    background-color: red;

}

.about-a h2 {
    color: white;
    font-size: 24px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;
}

.about-a p {
    color: white;
    font-size: 16px;
    padding-left: 20px;
}



.web2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-basis: 440px;
    height: 380px;

}

.web2 img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-grow: 1;

}

.about-b {
    height: 400px;
    background-color: lightblue;
    width: 100%;
    flex-grow: 1;
}

.about-b h2 {
    color: white;
    font-size: 24px;
    border-bottom: 2px solid white;
    /* margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px; */
}

.about-b p {
    color: white;
    font-size: 16px;
}

/* sekcja slogan */

.slogan {
    text-align: center;
    background-image: url(../img/mountains-4521455_1280.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;

}

.slogan h1 {
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.slogan p {
    font-size: 36px;
}

.slogan p.author {
    margin-top: 26px;
    font-size: 16px;
}

.slogan .bg {
    padding: 30px 10px;
    height: 50vh;
    background-color: rgba(0, 63, 114, 0.5);

}

/* sekcja hobby */

.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {
    height: 25vh;

}

.hobby .item {
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../img/Rodzina.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../img/koszykowka.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../img/gotowanie.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../img/gadżety.jpg);
}


.hobby .item p {
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1 {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (min-width:533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width:768px) {

    .hobby h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;

    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }

}

@media (min-width: 1600px) {
    .hobby h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;

    }

    .hobby .item p {
        font-size: 40px;
    }
}

/* skcja kontakt */
.contact {
    background-color: #000;
    padding: 30px 20px;
}

.contact h1 {
    font-family: 'Saira Condensed',
        sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: saira, sans-serif;
    font-size: 12px;
    padding: 5px;
}

.contact input {

    height: 36px;

}

.contact textarea {
    height: 120px
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {

    padding: 10px 0;
    color: white;
    font-family: saira condensed, sans-serif;

}

.contact .social img {
    float: left;

}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

.contact h1 {
    font-size: 60px;
    padding: 30px 0;
}

.contact form,
.contact .socials {
    float: left;
    width: 50%;
    padding: 0 20px
}

.contact .social {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    margin-bottom: 35px;

}

.contact input {

    height: 46px;
    font-size: 24px;

}

.contact textarea {
    height: 180px;
    font-size: 24px;
}

.contact button {
    font-size: 20px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;

}

.contact button:hover {
    color: black;
    background-color: #fff;
}

footer {
    background-color: #29a6dc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}